// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.posts-by-tag h2 {
  text-transform: capitalize;
}

// Blog post or page title
.page-title,
.post-title {
  margin-top: 0;
}

.page-title,
.post-title,
.post-title a {
  color: $heading-color;
}

h2.post-title,
h2.page-title {
  font-size: 2rem;
}

.post-tags a {
  font-size: 0.8em;
  margin-right: 0.5rem;
  opacity: 0.75;
  white-space: nowrap;

  .tag-name {
    text-transform: capitalize;
  }

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.posts-list {
  list-style: none;
  padding-left: 0;

  h3 {
    margin-top: 0;
  }

  li small {
    color: #999;
    font-size: 75%;
    white-space: nowrap;
  }

  li a:hover {
    color: $link-color;
    text-decoration: none;
  }

  li a:hover small {
    color: inherit;
  }
}

article + *,
.post-body ~ section {
  border-top: 1px solid $border-color;
  margin-top: $section-spacing;
  padding-top: $section-spacing;

  > h2:first-child,
  > h3:first-child {
    margin-top: 0;
  }
}

// Meta data line below post title
.post-meta {
  color: $body-muted;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
}

.post,
.page {
  .content li + li {
    margin-top: 0.25rem;
  }
}

button.disqus-load {
  margin-top: 1em;
}

// Header anchors

h1 {
  margin-left: -20px;
  padding-left: 10px;
}

h2 {
  margin-left: -18px;
  padding-left: 10px;
}

h3 {
  margin-left: -16px;
  padding-left: 10px;
}

h4 {
  margin-left: -14px;
  padding-left: 10px;
}

h5 {
  margin-left: -12px;
  padding-left: 10px;
}

h6 {
  margin-left: -10px;
  padding-left: 10px;
}

h1 .octicon,
h2 .octicon,
h3 .octicon,
h4 .octicon,
h5 .octicon,
h6 .octicon {
  visibility: hidden;
}

h1:hover .octicon,
h2:hover .octicon,
h3:hover .octicon,
h4:hover .octicon,
h5:hover .octicon,
h6:hover .octicon {
  visibility: visible;
}
.octicon {
  fill: currentColor;
  padding: 0;
  margin-left: -16px;
  vertical-align: middle;
}
